body {
    font-family: 'Inter' , sans-serif;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
.shopping-icon {
    margin-right: 10px;
}
.shopping-btn {
    font-weight: bold;
    overflow: hidden;
    padding: 13px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    z-index: 10;
    left: 47%;
}

/* header section */
.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-container {
    background-color: rgba(203, 203, 203, 0.31);
    padding: 4px 4px;
    margin-top: 30px;
    border-radius: 25px;
    position: fixed;
}
.link-btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    touch-action: pinch-zoom;
    cursor: pointer;
    background-color: white;
}
.link-btn-1 {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    touch-action: pinch-zoom;
    cursor: pointer;
}
.link-btn-1:active {
    background-color: white;
}
.link-btn-2:active {
    background-color: white;
}
.link-btn-2 {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    touch-action: pinch-zoom;
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: black;
}

/* hero section */
.hero {
    height: 70vh;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}
.title {
    font-size: 4em;
    font-weight:600;
    width: 800px;
}
.features {
    display: flex;
    column-gap: 10px;
}
.feature-content {
    padding: 8px 10px;
    background-color: rgba(203, 203, 203, 0.31);
    border-radius: 25px;
    font-size: 13px;
}

/* products section */
.products-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 0 20px 0 20px;
    align-items: center;
}
.product-img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* footer section */
.footer-container {
    height: 50vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.message-1 {
    font-size: 2.2em;
    font-weight: 400;
}
.message-2 {
    font-size: 2.2em;
    text-decoration: none;
    color: gray;
    font-weight: 400;
}
.message-2:hover {
    opacity: 0.5;
}
.footer-header {
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
}
.my-name {
    font-size: 13px;
}
.social-media-links {
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.social-media-links:hover {
    opacity: 0.5;
}
.social-media-container {
    display: flex;
    column-gap: 15px;
}

/* Media queries */

@media (max-width:820px) {
    .title {
        font-size: 2em;
        width: 600px;
        font-weight: 500;
    }
    .features {
        display: none;
    }
    .hero {
        padding: 0;
        height: 50vh;
    }
    .message-1 {
        font-size: 1.8em;
        font-weight: 500;
    }
    .message-2 {
        font-size: 1.8em;
    }
    .footer-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 15%;
        row-gap: 10px;
    }
    .shopping-btn {
        position: fixed;
        left: 43%;
    }
    .footer-container {
        height: 30vh;
    }
}

@media (min-width:820px) {
    .products-container {
        padding: 0 100px 0 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
        align-items: center;
    }
}

@media (max-width:620px) {
    .title {
        width: 500px;
        font-weight: 500;
    }
}
@media (max-width:520px) {
    .shopping-btn {
        position: fixed;
        left: 41%;
    }
    .footer-header {
        margin-bottom: 5%;
    }
    .title {
        width: 450px;
    }
    .footer-container {
        height: 40vh;
    }
}